.linklist {
  display: inline;
}

.navbar {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}