a {
  text-decoration: none;
}

.navbar {
  display: block;
  background-color: rebeccapurple;
}

.navbar h1 {
  color: white;
}

.navbar ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}

.navbar li {
  display: inline;
}

.navbar button {
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 16px;
}